@charset "UTF-8";
/* reset */
* { margin: 0; padding: 0; } 

ul,
li { margin: 0; padding: 0; list-style: none; } 

a { text-decoration: none; } 

.blind { position: absolute; top: -999px; left: -9999px; text-indent: -99999999999px; font-size: 0; width: 0; height: 0; } 

#wrap { width: 100%; } 

/* ======================================= header ====================================== */
header { width: 100%; height: 137px; background-color: #fff; border-bottom: 1px solid #C3C3C3; box-sizing: border-box; position: fixed; z-index: 999; } 

header .headerInner { width: 100%; max-width: 1210px; margin: 0 auto; display: flex; justify-content: space-between; position: relative; } 

/* 로고 */
header .headerInner h1.logo img { margin-top: 80px; width: 100px; } 


/* pc menu */

/* 대메뉴 - 1Depth */
header .headerInner nav .inner>ul.nav-list { width: 585px; height: 75px; line-height: 75px; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); text-align: center; display: flex; } 

header .headerInner nav .inner>ul.nav-list>li { width: 25%; } 

header .headerInner nav .inner>ul.nav-list>li>a { font-size: 20px; color: #1e1e1e; font-weight: bold; font-family: 'Nanum Gothic', sans-serif; letter-spacing: -1px; } 

header .headerInner nav .inner>ul.nav-list>li>a:hover,
header .headerInner nav .inner>ul.nav-list>li>a:focus { color: #1374bf; } 

/* submenu - 2Deps */
.nav-list ul { display: none; margin-top: 30px; } 

.nav-list>li>ul { text-align: center; width: 100%; } 

.nav-list>li>ul>li>a { display: block; height: 35px; line-height: 35px; font-size: 15px; color: #666; font-family: 'Nanum Gothic', sans-serif; } 

.nav-list>li>ul>li>a:hover,
.nav-list>li>ul>li>a:focus { color: #1374bf; text-decoration: underline; } 

.bg { background-color: #fff; width: 100%; height: 320px; position: absolute; top: 137px; z-index: -1; display: none; } 

/* Mobile Menu Core Style*/
#mobile_menu { width: 100%; } 

#mobile_menu h1 { display: none; } 

.slicknav_menu { display: none; position: relative; top: 73px; width: 100%; z-index: 2; } 

.slicknav_btn { position: relative; display: block; float: right; padding: 0; cursor: pointer; margin: 0 30px 0 0; } 

.slicknav_menu .slicknav_icon { float: left; margin: 0; } 

.slicknav_menu .slicknav_no-text { margin: 0}

.slicknav_menu .slicknav_icon-bar { display: block; width: 35px; height: 2px; background-color: #000; border-radius: 50px; } 

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar { margin-top: 9px; } 

.slicknav_nav { position: relative; top: 40px; color: #fff; margin: 0; padding: 0; font-size: 16px; clear: both; } 

.slicknav_nav,
.slicknav_nav ul { list-style: none; overflow: hidden; background: #fff; } 

.slicknav_nav ul,
.slicknav_nav li { display: block; border-bottom: 1px solid #eae9e9; } 

.slicknav_nav li>a { position: relative; } 

.slicknav_nav li ul { border: 0; background: #f4f4f4; padding: 10px 0; } 

.slicknav_nav li ul li { border-bottom: 0; } 

.slicknav_nav ul li a { font-size: 15px; font-weight: normal; color: #666; } 

.slicknav_nav>li>ul>li>a,
.slicknav_nav li ul li a.slicknav_item { font-size: 14px; padding: 10px 30px; } 

.slicknav_nav .slicknav_item { display: block; cursor: pointer; } 

.slicknav_nav .slicknav_item a { padding: 0; margin: 0; } 

.slicknav_nav a { display: block; color: #1e1e1e; font-size: 18px; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; letter-spacing: -1px; padding: 20px 30px; } 

.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; } 

.slicknav_menu:after { clear: both; } 

/* Button Text */
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.188em; float: left; color: #FFF; font-weight: bold; text-shadow: 0 1px 3px #000; display: none; } 

.slicknav_nav .slicknav_txtnode { margin-left: 15px; } 

.slicknav_nav .slicknav_arrow { font-size: 0px; position: absolute; right: 0; top: 50%; width: 10px; } 

.slicknav_nav .slicknav_collapsed .slicknav_item span.slicknav_arrow::before { position: absolute; content: '+'; font-size: 17px; opacity: 0.6; width: 10px; height: 10px; line-height: 8px; margin-top: -5px; right: 30px; } 

.slicknav_nav .slicknav_open .slicknav_item span.slicknav_arrow::before { position: absolute; content: '-'; font-size: 17px; opacity: 0.6; width: 10px; height: 5px; line-height: 0; margin-top: -3px; right: 29px; } 

/*3deths*/
.slicknav_nav li ul li ul { background: #e4e4e4; } 

.slicknav_nav li ul li ul li a { padding: 10px 40px 7px 40px; font-size: 13px; } 

/*hover*/
.slicknav_nav>li:hover>a { background: #1374bf; } 

.slicknav_nav>li:hover>a>a { color: #fff; } 

.slicknav_nav>li:hover .slicknav_arrow { color: #fff; } 

.slicknav_nav>li:hover ul .slicknav_arrow { color: #000; } 

.slicknav_nav li ul li a:hover,
.slicknav_nav li ul li a.slicknav_item:hover a { color: #1374bf; text-decoration: underline; } 

/* searchLang */
header .headerInner .searchLang { display: flex; position: absolute; right: 0; } 

header .headerInner .searchLang .search a i { font-size: 18px; color: #000; margin: 79px 20px 0 0; } 

header .headerInner .searchLang ul { display: flex; justify-content: space-between; margin-top: 69px; width: 87px; height: 35px; border-radius: 20px; background-color: #F4F4F4; } 

header .headerInner .searchLang ul li { margin-top: 5px; padding: 0 12px; } 

header .headerInner .searchLang ul li:nth-child(1) a { font-size: 13px; font-family: 'Nanum Gothic', sans-serif; color: #666; } 

header .headerInner .searchLang ul li:nth-child(2) a i { color: #666; } 

/* right menu */
header .headerInner .right_menu ul { display: flex; gap: 14px; margin-top: 17px; } 

header .headerInner .right_menu ul li a { font-size: 15px; font-family: 'Noto Sans KR', sans-serif; color: #666; white-space: nowrap; } 

header .headerInner .right_menu ul li img { padding-right: 7px; } 

/* ====================================== main =============================================== */
main { position: relative; } 

/* 클릭시 최상단 이동 */
main .btnTop { position: fixed; right: 30px; bottom: 30px; display: none; z-index: 999; } 

main .btnTop img { box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); border-radius: 15px; } 

/* 메인 비디오 */
section.main_video { width: 100%; height: 1080px; position: relative; top: -127px; margin-bottom: -127px; } 

section.main_video .video-play { width: 100%; height: 1080px; object-fit: cover; } 

section.main_video .video_title { position: absolute; left: 18%; top: 35%; } 

section.main_video .video_title p.sm_text { font-size: 24px; line-height: 1.3; color: #edecd4; margin-bottom: 15px; font-family: 'Nanum Gothic', sans-serif; } 

section.main_video .video_title p.big_text { font-size: 40px; color: #fff; line-height: 1.4; font-family: 'Nanum Gothic', sans-serif; white-space: nowrap; } 

/* 메뉴 인트로 버튼 */
section.main_video .menu_intro { position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); display: flex; gap: 50px; } 

section.main_video .menu_intro .mBox1 ul,
section.main_video .menu_intro .mBox2 ul { display: flex; gap: 50px; } 

section.main_video .menu_intro ul li { text-align: center; opacity: 0.5; } 

section.main_video .menu_intro ul li img { width: 140px; height: 140px; } 

section.main_video .menu_intro ul li p { font-size: 20px; color: #fff; font-family: 'Noto Sans KR', sans-serif; margin-top: 15px; } 

section.main_video .menu_intro ul li:hover,
section.main_video .menu_intro ul li:focus { opacity: 1; } 

/* section title */
section .title { width: 100%; max-width: 1210px; margin: 0 auto; padding-top: 175px; } 

section .title h2 { font-size: 45px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; } 

section .title p { font-size: 20px; font-family: 'Noto Sans KR', sans-serif; line-height: 1.6; font-weight: 300; padding-top: 20px; } 

/* ====== 회사소개 ====== */
section.company_intro { width: 100%; height: 1080px; background-color: #1374bf; position: relative; } 

section.company_intro .title { color: #fff; } 

section.company_intro .boxs { display: flex; gap: 10px; max-width: 1210px; margin: 80px auto; } 

section.company_intro .option { position: relative; width: 220px; height: 490px; background: var(--optionBackground, var(--defaultBackground, #e6e9ed)); background-position: center; cursor: pointer; transition: 0.5s; } 

section.company_intro .boxs .option:not(.active) { flex-grow: 1; } 

.option.active { flex-grow: 100; transform: scale(1); width: 295px; height: 490px; background-size: auto 120%; } 

.option>.img { width: 200px; height: 490px; } 

/* text */
.option p { font-size: 26px; font-family: 'Noto Sans KR', sans-serif; color: #fff; font-weight: normal; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); white-space: nowrap; text-align: center; } 

.option span.explain { font-family: 'Noto Sans KR', sans-serif; color: #fff; font-weight: 300; position: absolute; bottom: 170px; left: 50%; transform: translateX(-50%); white-space: nowrap; text-align: center; transition: 0.3s; } 

/* 배경 */
.ci_bg { background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 46.07%, rgba(0, 0, 0, 0.70) 100%); width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1; } 

/* ====== 바른먹거리 ====== */
section.good_food { width: 100%; height: 1080px; background-color: #ECE9DE; } 

section.good_food .title { color: #333; } 

section.good_food .pc_gf { width: 100%; max-width: 1210px; margin: 0 auto; } 

section.good_food .pc_gf ul { display: flex; justify-content: space-between; margin-top: 80px; } 

section.good_food .pc_gf ul li { position: relative; } 

section.good_food .pc_gf ul li img { width: 100%; height: 100%; } 

/* 이미지 안에 아이콘 */
section.good_food .pc_gf ul li:nth-child(1) a::before { content: ''; width: 0; height: 100%; background-color: #3F3D33; opacity: 0.9; transition: .5s; position: absolute; top: 0; left: 0; } 

section.good_food .pc_gf ul li:nth-child(2) a::before { content: ''; width: 0; height: 100%; background-color: #2C3F46; opacity: 0.9; transition: .5s; position: absolute; top: 0; left: 0; } 

section.good_food .pc_gf ul li:nth-child(3) a::before { content: ''; width: 0; height: 100%; background-color: #63715E; opacity: 0.9; transition: .5s; position: absolute; top: 0; left: 0; } 

section.good_food .pc_gf ul li:hover a::before { width: 100%; } 

section.good_food .pc_gf ul li:nth-child(1) a::after { content: ''; background: url(../images/s02_list_icon_1.png)no-repeat center/cover; width: 105px; height: 105px; opacity: 0.5; position: absolute; top: 39%; left: 50%; transform: translateX(-50%); } 

section.good_food .pc_gf ul li:nth-child(2) a::after { content: ''; background: url(../images/s02_list_icon_2.png)no-repeat center/cover; width: 105px; height: 105px; opacity: 0.5; position: absolute; top: 39%; left: 50%; transform: translateX(-50%); } 

section.good_food .pc_gf ul li:nth-child(3) a::after { content: ''; background: url(../images/s02_list_icon_3.png)no-repeat center/cover; width: 105px; height: 105px; opacity: 0.5; position: absolute; top: 39%; left: 50%; transform: translateX(-50%); } 

section.good_food .pc_gf ul li:hover a::after { opacity: 1; } 

/* text */
section.good_food ul li a p { white-space: nowrap; } 

section.good_food ul li a p.textMain { font-size: 25px; font-family: 'Noto Sans KR', sans-serif; color: #fff; text-align: center; position: absolute; bottom: 31%; left: 50%; transform: translateX(-50%); display: none; } 

section.good_food .pc_gf ul li a p.textSub { font-family: 'Noto Sans KR', sans-serif; color: #fff; font-weight: 300; text-align: center; position: absolute; top: 70%; left: 50%; transform: translateX(-50%); display: none; } 

section.good_food .pc_gf ul li a:hover p { display: block; } 

/* mobile 바른먹거리 */
section.good_food .mobile_gf ul { display: none; margin: 60px auto; } 

section.good_food .mobile_gf ul li { padding-bottom: 10px; position: relative; } 

section.good_food .mobile_gf ul li img { width: 100%; } 

section.good_food .mobile_gf ul li a p.textMain { font-size: 20px; display: block; position: absolute; top: 37%; left: 50%; transform: translateX(-50%); } 

section.good_food .mobile_gf ul li a:hover { opacity: 0.8; } 

/* ====== 사회책임경영 ====== */
section.social_rm { width: 100%; height: 1080px; background: url(../images/section3_bg.jpg)no-repeat center/cover; } 

section.social_rm .title { color: #fff; } 

section.social_rm .srm_box { width: 100%; height: 354px; background: rgba(255, 255, 255, 0.10); margin-top: 110px; } 

section.social_rm .srm_box ul { display: flex; justify-content: center; gap: 170px; } 

section.social_rm .srm_box ul li { text-align: center; margin-top: 75px; position: relative; } 

section.social_rm .srm_box ul li a p.textMain { font-size: 25px; font-family: 'Noto Sans KR', sans-serif; color: #fff; margin: 22px auto; width: 190px; } 

section.social_rm .srm_box ul li a p.textSub { font-family: 'Noto Sans KR', sans-serif; color: #fff; margin-top: 52px; } 

section.social_rm .srm_box ul li a::after { content: ''; width: 225px; height: 2px; background: #879381; position: absolute; top: 165px; left: 50%; transform: translateX(-50%); } 

section.social_rm .srm_box ul li:hover a { opacity: 0.6; } 

/* ====== 뉴스룸 ====== */
section.newsRoom { width: 100%; height: 1080px; background-color: #fff; } 

section.newsRoom .title { color: #333; } 

section.newsRoom .article { width: 100%; position: relative; z-index: 1; display: flex; justify-content: center; margin-top: 65px; } 

section.newsRoom .article ul { display: flex; flex-wrap: wrap; width: 100%; max-width: 1210px; justify-content: space-between; } 

section.newsRoom .article ul li { width: calc(25% - 40px); position: relative; margin-bottom: 20px; } 

section.newsRoom .article ul li a { display: block; width: 100%; height: 50%; overflow: hidden; } 

section.newsRoom .article ul li img { width: 100%; height: 100%; transition: .6s; } 

section.newsRoom .article ul li a:hover img { transform: scale(1.1); } 

section.newsRoom .article ul li strong { display: block; width: 100%; text-align: justify; font-family: "Noto Sans KR"; font-size: 18px; color: #333; letter-spacing: -1px; cursor: pointer; } 

section.newsRoom .article ul li .text { margin-top: 10px; } 

section.newsRoom .article ul li strong::after { display: none; content: ''; width: 100%; height: 1px; background-color: #C3C3C3; position: absolute; bottom: 27%; left: 0; } 

section.newsRoom .article ul li p { width: 100%; height: 100px; color: #666; overflow: hidden; text-align: justify; font-family: "Noto Sans KR"; font-size: 13px; line-height: 1.5; letter-spacing: -1px; margin: 10px 0; } 

section.newsRoom .article ul li span { font-family: "Noto Sans KR"; font-size: 13px; color: #999; } 

/* =================================== footer ========================================= */
footer { width: 100%; height: 350px; background-color: #ECE9DE; } 

footer .footerInner { width: 100%; max-width: 1210px; height: 350px; margin: 0 auto; position: relative; } 

footer .footerInner .ft_logo img { margin: 0 auto; padding: 63px 0; display: block; width: 119px; height: 40px; } 

footer .footerInner .bmenu1 { display: flex; justify-content: space-between; } 

footer .footerInner .bmenu1 ul { display: flex; gap: 30px; } 

footer .footerInner .bmenu1 ul li a { font-family: "Noto Sans KR"; font-size: 17px; color: #585858; font-weight: 400; position: relative; } 

footer .footerInner .bmenu1 ul li a::after { content: ''; width: 1px; height: 16px; background-color: #d9d9d9; position: absolute; top: 6px; left: -15px; } 

footer .footerInner .bmenu1 ul li:first-child a::after { display: none; } 

/* 개인정보처리방침 */
footer .footerInner .bmenu1 ul li:nth-child(1) a { color: #004F18; font-weight: bold; } 

/* 계열사 사이트 */
footer .footerInner .bmenu1 select { width: 250px; height: 40px; border: 2px solid #bbb; box-sizing: border-box; display: block; outline: none; font-size: 14px; font-family: "Noto Sans KR"; color: #585858; } 

footer .footerInner .bmenu2 ul { display: flex; gap: 30px; margin-top: 15px; } 

footer .footerInner .bmenu2 ul li span { font-family: "Noto Sans KR"; font-size: 15px; color: #585858; position: relative; } 

footer .footerInner .bmenu2 ul li span::after { content: ''; width: 1px; height: 16px; background-color: #d9d9d9; position: absolute; top: 6px; left: -15px; } 

footer .footerInner .bmenu2 ul li:first-child span::after { display: none; } 

/* copyright */
footer .footerInner .bmenu2 .copyright p { font-family: "Noto Sans KR"; font-size: 15px; color: #585858; margin-top: 6px; } 

/* sns */
footer .footerInner .sns { display: flex; position: absolute; right: 0; bottom: 87px; } 

footer .footerInner .sns p { font-family: "Noto Sans KR"; font-size: 15px; color: #585858; } 

footer .footerInner .sns p i { color: #585858; margin: 0 15px; } 

footer .footerInner .sns ul { display: flex; gap: 15px; } 

/* ============================== 반응형 ================================ */

/* ================== 최대 1250px ==================== */
@media (max-width:1250px) {
 header .headerInner nav,
 header .headerInner .searchLang,
 header .headerInner .right_menu { display: none; } 

 header .headerInner h1.logo img { display: none;  } 
/* 로고 */
/* header .headerInner h1.logo img { margin-top: 80px; width: 100px; }  */
header .headerInner img {width: 100px; margin-top: 10px;}
 section.company_intro .title,
 section.good_food .title,
 section.social_rm .title,
 section.newsRoom .title { padding-top: 80px; } 

 /* mobile menu */
 #mobile_menu h1 { display: block; position: absolute; top: 55px; left: 30px; } 

 .slicknav_menu { display: block; } 

 /* 메인비디오 인트로 버튼 가리기 */
 section.main_video .menu_intro { display: none; } 

 /* 회사소개 */
 section.company_intro .title,
 section.company_intro .boxs { width: 95%; } 

 /* 바른먹거리 */
 section.good_food .title,
 section.good_food .pc_gf { width: 95%; } 

 section.good_food .pc_gf ul li { width: calc(33.33% - 10px); } 

 section.good_food .pc_gf ul li:nth-child(1) a::after,
 section.good_food .pc_gf ul li:nth-child(2) a::after,
 section.good_food .pc_gf ul li:nth-child(3) a::after { width: 80px; height: 80px; } 

 /* 사회책임경영 */
 section.social_rm .title,
 section.social_rm .srm_box ul { width: 95%; } 

 /* 뉴스룸 - 3단 */
 section.newsRoom { height: 1300px; } 

 section.newsRoom .title,
 section.newsRoom .article ul { width: 95%; } 

 section.newsRoom .article ul li { width: calc(33.33% - 30px); } 

 /* footer */
 footer .footerInner { width: 95%; } 
 }

/* ================== 최대 1000px ==================== */

@media (max-width:1000px) {
 /* 회사소개 */
 section.company_intro .boxs { width: 93%; } 

 /* 바른먹거리 */
 section.good_food { height: 850px; } 

 section.good_food .pc_gf ul li a::after { display: none; } 

 section.good_food ul li a p.textMain { font-size: 22px; top: 45%; } 

 section.good_food .pc_gf ul li a p.textSub { font-size: 14px; top: 55%; } 

 /* 사회책임경영 */
 section.social_rm { height: 850px; } 

 section.social_rm .srm_box { height: 500px; margin-top: 30px; position: relative; } 

 section.social_rm .srm_box ul { display: block; position: absolute; bottom: 50px; left: 50%; transform: translate(-50%); } 

 section.social_rm .srm_box ul li { margin-bottom: -42px; } 

 section.social_rm .srm_box ul li a p.textMain { font-size: 20px; margin-top: 13px; } 

 section.social_rm .srm_box ul li a p.textSub,
 section.social_rm .srm_box ul li a::after { display: none; } 

 /* footer */
 footer .footerInner .bmenu1 { display: block; justify-content: center; } 

 footer .footerInner .bmenu1 ul { justify-content: center; } 

 footer .footerInner .bmenu1 select { margin: 50px auto 0 auto; } 

 footer .footerInner .bmenu2 ul { display: none; } 

 footer .footerInner .bmenu2 .copyright p { margin-top: -80px; text-align: center; } 

 footer .footerInner .sns { display: none; } 
 }

/* ================= 최대 760px ==================== */

@media (max-width:760px) { section.main_video { height: 850px; } 

 section.main_video .video-play { height: 850px; } 

 section.main_video .video_title p.sm_text { font-size: 16px; } 

 section.main_video .video_title p.big_text { font-size: 30px; } 

 /* 회사소개 */
 section.company_intro { height: 980px; } 

 section.company_intro .boxs { width: 90%; flex-direction: column; } 

 section.company_intro .option { width: 100%; height: 100%; cursor: pointer; transition: 0.5s; } 

 section.company_intro .option:hover { opacity: 0.7; } 

 .option>.img { width: 100%; height: 120px; } 

 .option p { font-size: 20px; } 

 .option span.explain { display: none !important; } 

 /* 배경 */
 .ci_bg { display: none; } 

 /* 바른먹거리 */
 section.good_food { height: 780px; } 

 section.good_food .pc_gf ul { display: none; } 

 section.good_food .mobile_gf ul { width: 93%; display: block; } 

 /* 뉴스룸 - 2단 */
 section.newsRoom { height: 1080px; } 

 section.newsRoom .article ul { width: 93%; } 

 section.newsRoom .article ul li { width: calc(50% - 15px); } 

 section.newsRoom .article ul li strong { height: 55px; overflow: hidden; } 

 section.newsRoom .article ul li strong::after { display: block; } 

 section.newsRoom .article ul li p { display: none; } 

 section.newsRoom .article ul li span { display: block; margin-top: 35px; } 

 /* footer */
 footer .footerInner { width: 90%; } 

 footer .footerInner .bmenu1 ul { flex-wrap: wrap; gap: 15px; } 

 footer .footerInner .bmenu1 ul li a { font-size: 15px; } 

 footer .footerInner .bmenu1 ul li a::after { top: 4px; left: -7px; } 
 }